{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot - Vehicules Occasion
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/script_occasions.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div class="container">
		<br>
		<h1>Notre sélection de véhicules de la marque
			{{marque.nom}}</h1><br>
		{% if occasions|length<1 %}
			<h3>Aucun vehicule dans cet marque</h3>
		{% endif %}
	</div>
	{% include "occasions/_rechercherfiltrer.html.twig" %}
	<div class="bs-docs-section">
		<div class="container">
			<div class="row">
				{% for _occasion in occasions %}
					<div class="col-lg-3">
						<div class="card mb-3">
							<a href="{{ path('app_exemplaire_show',{'id':_occasion.id}) }}" class="card-link">
								<h4 class="card-header">{{_occasion.vehicule}}</h4>
							</a>
							<div class="card-body">
								<h5 class="card-title">Prix:
									{{_occasion.prix}}
									€</h5>
								<h6 class="card-subtitle text-muted">Année:
									{{_occasion.annee}}</h6>
								<h6 class="card-subtitle text-muted">Kilometrage:
									{{_occasion.Kilometrage}}
									- km
								</h6>
							</div>
							<img class="img-fluid rounded" src="{{ vich_uploader_asset(_occasion, 'imageFile') }}" alt="Image vehicule">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Marque :</li>
								<li class="list-group-item">Modele :</li>
								<li class="list-group-item">Type de véhicule :
									{{_occasion.type}}</li>
							</ul>
							<div class="card-body">
								<h5>Descrition</h5>
								<p class="card-text">{{_occasion.description|slice(0,60)}}...</p>
							</div>
							<div class="card-body">
								<h5>Options</h5>
								<p class="card-text">{{_occasion.options|slice(0,60)}}...</p>
							</div>
							<div class="card-body">
								<a href="{{ path('app_exemplaire_show',{'id':_occasion.id}) }}" class="card-link">Plus d'info</a>
							</div>
							<div class="card-footer text-muted"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
